<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Add Student</title>
</head>
<body>
    <nav>
        <a href="/">Dashboard</a>
        <a href="/addStudent">Add Student</a>
    </nav>
    <h1>Add Student</h1>

    <section class="add-student-form">

        <div class="form-label-group">
            <label class="form-label">First Name</label>
            <label class="form-label">Last Name</label>
            <label class="form-label">Student ID</label>
            <label class="form-label">Graduation Date</label>
            <label class="form-label">Time Zone</label>
            <label class="form-label">Email</label>
            <label class="form-label">Zoom Link</label>
        </div>

        <div class="form-input-group">
            <input id="form-first-name">
            <input id="form-last-name">
            <input id="form-id">
            <input id="form-graduation">
            <input id="form-time-zone">
            <input id="form-email">
            <input id="form-zoom-link">
        </div>

    </section>
    <button id="add-student-button" type="button">Add Student</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/js/addStudent.js"></script>
</body>
</html>